
header {
    background: rgba(250, 250, 250, 0.5);
    height: 60px;
    position: fixed;
    top: 0;
    transition: top 0.4s ease-in-out;
    width: 100%;

	z-index: 1;
	text-align: center;
  
}
.nav-up {
    top: -60px;
}


.navbar-brand {
	margin-left: 90px;
	color: #383835;
	font-family: 'Rock Salt', cursive;
	margin-top: 10px;
	height: 50px;
	margin-right: 0rem;
} 

.icon{
    float: right;
	margin-right: 20px;
	margin-top: 15px;
	padding-bottom: 9px;
}

#vsco{
	width: 28px;
}

#ig{
	color: #383835;
	float: right;
	margin-top: 15px;
	margin-right: 20px;
	font-size: 30px;
}

.button {
	float: right;
	margin-right: 20px;
	margin-top: 10px;
	border: none;
	background: transparent;
	color: #b0aea5;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 200;
}

button.onhover{
	color: blue;
}

.wuhan{
	margin-top: 95px;
}

.intro{
	height: 1000px;
}

#headingGroup{
    color: #383835;
    border-left: 3px solid #d9d9d2;
    margin-top: 200px;
    margin-left: 50px;
    text-align: left;
    padding-left: 20px;
    font-family: 'Cardo', serif;
}

h1{
	font-weight: 300;
    font-size: 2.8rem;
}

h2{
	color: #636360;
    margin-top: 0px;
    margin-left: 50px;
    text-align: left;
    padding-left: 20px;
    font-size: 1.2rem;
    font-family: "Cardo", sans-serif;
    line-height: 1.5;
}
#intro{
	margin-right: 50px;
}

body {
    background: white;
    font-family: "Nunito", sans-serif;

	padding-top: 30px;
	padding-bottom: 80px;
}

#intro {
	text-align: center;
}

#name {
 	font-family: 'Raleway', sans-serif;
 	font-size: 26px;
 	font-weight: 800;
 	/*margin-left: 1.66%;*/
 	border-bottom: 3px solid #f1f1f1;
 	width: 30%;
 	padding-bottom: 10px;
 	margin-bottom: 40px;

 	text-align: left;
 }

.container {
	text-align: center;
	padding-top: 50px;
}

.pic {
	margin-bottom: 100px;
	margin-top: 50px;
	padding-bottom: 100px
}

img {
	width: 100%;	
}

#JiangHanStreet_1{
	width: 55%;
}

#JiangHanStreet_2{
 margin-bottom: 70px
}

#p1{
	width: 90%;	
	text-align: right;
}

.footnote {
	margin-top: 5px;
	text-align: right;
	font-family: 'Fira Sans Condensed', sans-serif;
	font-weight: 200;
	font-size: 0.9rem;
	color: #999993;
}
.initial{
	color: #5c5c58;
}
.muyi{
	font-style: italic;
	color: #b8b8b0;
}



.content {
    margin-top: 100px;
    margin-bottom: 100px;
}






